*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(assets/bg4.jpg);
    background-size:cover;
    background-position: center;
    padding: 0 8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
nav .logo{
    width: 170px;
    cursor:pointer;
}
 nav .cart{
    width: 40px;
    cursor:pointer;
 }
 nav ul{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: center;
    list-style-type:none;
 }
 ul li{
    margin-right: 10px;
    border: 1px solide #fff;
 }
 ul li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    
 }
 ul li a::after{
    content: '';
    background: #ffa400;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transform: translate(-50%, -5px);
    transition: 0.3s;
 }
 ul li a:hover::after{
    width: 30%;
   
 }
 ul li a:hover{
     color: rgb(150, 36, 243);
    font-size: 20px;
    box-shadow: darkgray;
    border: 1px solid #fff;
    background-color: #fff;
 }

 .site-container{
   position:absolute;
   bottom: 10%;
   color: #fff;
 }

 .site-container p{
   font-size: 50px;
   font-weight: bold;
 }
 .site-container h1{
   font-size: 120px;
   line-height: 120px;
   margin-left: -10px;
 }
 .site-container h3{
   font-size: 40px;
   font-weight: 500;
 }

 .site-container .row{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 40px;
   
 }
 .row a{
   display: flex;
   align-items: center;
   padding: 5px 20px;
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   margin-right: 40px;
   font-size: 20px;
   transition: 0.3s;
 }
 .row a:hover{
   color: black;
   background-color: #fefefe;
 }

 .row span{
   font-size: 18px;
   margin-left: 10px;
 }
 .social-icons{
   position: absolute;
   right: 5%;
   bottom: 10%;
 }
 .social-icons a{
   padding: 5px;
   margin-right: 5px;
 }